body { 
  font-family: sans-serif; 
  margin: 0; 
}
.top-menu { 
  background: #333; 
  color: white; 
  padding: 1rem; 
  display: flex; 
  justify-content: space-between; 
}
.dashboard-layout {
   display: flex; 
   flex-direction: column; 
   height: 100vh; 
  }
.main-content { 
  display: flex; 
  flex: 1; }

.side-menu { 
  width: 200px; 
  background: #f4f4f4; 
  padding: 1rem; 
  border-right: 1px solid #ddd;
  margin-right: 1rem;
  & ul { 
    list-style: none; 
    padding: 0; 
   }
  & li { 
    margin-bottom: 1rem; 
  }
}
main { 
  flex: 1;
   padding: 2rem; 
  }
.login-container { 
  display: flex; 
  flex-direction: column; 
  align-items: center;
  gap: 10px; 
  margin-top: 100px; 
}
.logout-link{
  color: #ff4d4d;
  cursor: pointer;
}
